@import "elements.less";

@screenWidth: 768px;
@screenHeight: 1280px;
@circleWidth: 80px;

@lightGray: #aaaaaa;
@lightBlue: #83baff;
@circleColor: rgba(150, 150, 150, 0.75);

@large: 50px;
@med: 25px;
@small: 18px;

HTML, BODY {
  background: url('../img/pw_maze_black.png');
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  }

H1 {
  color: @lightBlue;
  float: left;
  font-weight: lighter;
  font-size: @large;
  }

NAV {
  margin-bottom: 50px;
  padding: 50px 0;
  }

BUTTON {
  .rounded(6px);

  background: white;
  border: none;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: @small;
  font-weight: bold;
  padding: 10px 60px;
  }

INPUT {
  .rounded(6px);

  background: white;
  border: 3px solid @lightGray;
  float: right;
  font-size: @med;
  min-height: 40px;
  min-width: 450px;
  padding: 0 10px;
  }

INPUT[type='submit'] {
  border: none;
  font-weight: bold;
  min-width: 200px;
  }

LABEL {
  font-size: @med;
  float: left;
  margin-top: 10px;
  }

#btn_new {
  float: right;
  }

#container {
  margin: 0 auto;
  width: @screenWidth;
  }

.template {
  display: none;
  }

.chain {
  font-size: @med;
  width: @screenWidth;

  .header {
    margin: 15px 0;
    }

  .name {
    font-weight: bold;
    float: left;
    margin-right: 20px;
    }

  .pay {
    color: @lightGray;
    float: left;
    }

  .circle {
    .rounded(@circleWidth/2);
    .inner-shadow(3px, 6px, 2px, 0.5);

    background-color: @circleColor;
    float: left;
    height: @circleWidth;
    margin-right: 10px;
    width: @circleWidth;
    }

  .circle.complete {
    background-color: black;
    }
  }

#new_chain {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  padding: 100px 20px;
  position: absolute;
  top: 0;
  width: @screenWidth;

  .field {
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    }
  }