@screenWidth: 768px;
@screenHeight: 1280px;

HTML, BODY {
  margin: 0;
  padding: 0;
  }

#container {
  width: @screenWidth;
  }

.template {
  display: none;
  }

.chain {
  background-color: red;
  height: 100px;
  padding: 0 20px;
  width: @screenWidth;
  }

#new_chain {
  display: none;
  left: 0;
  position: absolute;
  height: @screenHeight;
  top: 0;
  width: @screenWidth;
  }