@import "elements.less";

@screenWidth: 768px;
@screenHeight: 1280px;
@circleWidth: 80px;

@lightGray: #aaaaaa;
@lightBlue: #83baff;
@circleColor: rgba(150, 150, 150, 0.75);

@large: 70px;
@med: 50px;
@small: 30px;

HTML, BODY {
  background: url('../img/pw_maze_black.png');
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  }

H1 {
  color: @lightBlue;
  font-weight: lighter;
  font-size: @large;
  padding: 50px 0;
  text-align: center;
  }

NAV {
  margin-bottom: 50px;
  }

BUTTON {
  .rounded(6px);

  background: white;
  border: none;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: @small;
  font-weight: bold;
  padding: 20px 80px;
  }

INPUT {
  .box-sizing(border-box);
  .rounded(6px);

  background: white;
  border: 3px solid @lightGray;
  float: right;
  font-size: @med;
  min-height: 40px;
  padding: 0 15px;
  width: 100%;
  }

INPUT[type='submit'] {
  border: none;
  font-weight: bold;
  min-width: 200px;
  }

LABEL {
  display: block;
  font-size: @med;
  margin: 0 0 15px 0;
  width: 100%;
  }

#btn_new {
  margin: 0 auto;
  }

#container {
  margin: 0 auto;
  width: @screenWidth;
  }

.template {
  display: none;
  }

.chain {
  font-size: @med;
  margin-bottom: 50px;
  width: @screenWidth;

  .header {
    margin: 15px 0;
    }

  .name {
    font-weight: bold;
    float: left;
    margin-right: 20px;
    }

  .stakes {
    color: @lightGray;
    float: left;
    }

  .circle {
    background: url('../img/circle_nox.png');
    background-size: 80px 80px;
    float: left;
    height: @circleWidth;
    margin-right: 15px;
    width: @circleWidth;
    }

  .circle.complete {
    background: url('../img/circle_x.png');
    background-size: 80px 80px;
    }
  }

#new_chain {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  padding: 100px 20px;
  position: absolute;
  top: 0;
  width: @screenWidth;

  .field {
    font-weight: bold;
    margin-bottom: 40px;
    width: 100%;
    }
  }